<table class="table table-striped">
  <th>人名</th>
  <th>狀態</th>
  <% @already_check_in_users.each do |already_check_in_users| %>
      <tr>
        <td><%= already_check_in_users.username %></td>
        <td><p>Success</p></td>
      </tr>
  <% end %>
  <% @not_check_in_users.each do |not_check_in_users| %>
      <tr>
        <td><%= not_check_in_users.username %></td>
        <td><p>未簽到</p></td>
      </tr>
  <% end %>

</table>